/*text align of the page*/
* {
    text-align: left;
  }

/*change the style of headings*/
h1{
    font-size: 30pt;
    line-height: 0.2em;
    color: rgb(140, 158, 231);
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 450px;
    position: fixed;
    font-family: 'Bruno Ace SC', cursive;
}
h2{
    font-size: 2ex;
    color: #6ec2c5;
    margin: 1px 540px 1px 600px;
    border-style: dotted;
    border-color: rgb(161, 75, 222);
    border-width: 1px;
    border-radius: 10px;
    position: static;
}
h2 ~ h3{
    color: hsl(217, 61%, 38%);
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 650px;
    display: block;
}
h4{
    font-size: 1.2vw;
    color: blue;
    display: inline;
    position: relative; 
}

/*change the style for unordered list*/
ul,ol{
    height: 70px;
    width: 10%;
    background-color: rgb(180, 156, 243);
    max-width: 500pt;
    min-width: 10px; 
}

/*change the style for link*/
a:hover {
    color: red;
}
a:active {
    color: green;
}

/*change the style of the background and query based on the screen width*/
@media screen and (min-width: 480px) {
    body {
      background-color: rgb(208, 222, 239);
    }
  }

/*change the style of the paragraph*/
p {
    font-size: 15px;
    line-height: 1cm;
    color:rgb(85, 8, 68);
    text-decoration: overline underline;
    text-align: left;
}
#p1 {
    color:rgb(99, 31, 184);
}
[Attribute="newThing"] {
    color:rgb(22, 6, 145);
}
footer p{
    color:rgb(8, 131, 57);
}
audio + p{
    color:rgb(135, 2, 252);
}
p.image{
    color:purple;
}

/*change the color of legend*/
fieldset > legend{
    color:rgb(33, 5, 135);
}

/*change the style of flex*/
.flexbox {
    display: flex;
    background-color: rgb(152, 175, 198);
    
}
.flexbox>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
}

/*change style of grid*/
.grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #72808b;
    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
}
.grid-item {
    background-color: rgba(89, 132, 143, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 10pt;
}

/*change the style of footer*/
footer{
    padding: 10px 10px 10px 10px;
}